package pages

import "github.com/ChrisRx/chrisrx-dev/components"

templ Blog(posts ...components.Post) {
	@components.Layout() {
		<div class="p-5">
			@components.BlogPosts(posts...)
		</div>
	}
}

templ BlogArchive(posts ...components.Post) {
	@components.Layout() {
		<div class="p-5">
			@components.BlogList(posts...)
		</div>
	}
}
