package pages

import "github.com/ChrisRx/chrisrx-dev/components"

templ Index(posts []components.Post) {
	@components.Layout() {
		<div id="content" class="">
			<div>
				<div>
					<img src="/assets/images/under-construction.gif" class="w-full object-contain object-center"/>
				</div>
				<div class="p-5">
					<h1>Recent Posts</h1>
					@components.BlogList(posts...)
				</div>
				<div class="marquee" _="on click call toggle()">
					for range 2 {
						<div>
							for range 3 {
								<img src="/assets/images/doot.gif" class="max-w-none h-full object-scale-down object-center"/>
							}
						</div>
					}
				</div>
			</div>
		</div>
	}
}
